#outerDiv {
    width: 100%;
    height: 50%;
    overflow: auto;
}

#outerLeft, #outerRight, #outerCenter {
    height: 100%;
    float: left;
    position: relative;
}

#outerLeft, #outerRight {
    width: 25%;
}

#outerCenter {
    width: 50%;
}

#gameBoard {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

#pits, .gravaHal, .pit {
    float: left;
}

#pits {
    width: 75%;
    height: 100%;
    top: 40%;
}

.pitPlayerOne, .pitPlayerTwo {
    width: 16.3%;
    height: 100%;
    float: left;
    text-align: center;
    border: solid thin black;
}

.gravaHal {
    width: 12.5%;
    height: 100%;
}

#pitsPlayerOne, #pitsPlayerTwo {
    width: 100%;
    height: 49%;
    clear: both;
    border: solid thin black;
}







